@model IEnumerable<DummyMVCwithoutEF.Models.Product>

@{
    ViewBag.Title = "Index";
}



@if (TempData["Deleted"] != null)
{
    <script>
 alert('@TempData["success"]');
    </script>
}

@if (TempData["Updated"] != null)
{
    <script>
 alert('@TempData["Updated"]');
    </script>
}


<h2>Index</h2>

<li>@Html.ActionLink("Add Product", "AddProduct", "Test", new { area = "" }, new { @class = "btn btn-info" })</li>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pcat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pcat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProd", "Test", new { id = item.Id }, new { @class = "btn btn-success" })

                @Html.ActionLink("Delete", "DeleteProd", "Test", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you want to delete this product?');" })
            </td>
        </tr>
    }

</table>
